.grid{
    width: 560px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
}

.block{
    width: 100px;
    height: 20px;
    background-color: blue;
    position: absolute;
}

.user{
    width: 100px;
    height: 20px;
    background-color: purple;
    position: absolute;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
}